#main{
    background-color: khaki;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

p{
    font-size: 20px;
}

body{
    background-color: rgba(241, 255, 47, 0.363);
}

*{
    font-family: 'Gugi', cursive;
}

#qna{
    display: none;
    
}

.qBox{
    background-color: honeydew;
    text-align:center ;
    border-radius: 20px;
    font-size: 20px;
    width: 80%;
}

.answerList{
    background-color: honeydew;
    border-radius: 20px;
    display: block;
    width: 100%;
    border: 0px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  #result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
  }

  #result{
    background-color: khaki;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}
.resultDesc{
    font-size: 20px;
}
